* {
	padding: 0;
	margin: 0;
}

html {
	background-image: url(../../gambar/sekolah.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.logo1 {
	width: 110px;
    margin: 10px 0 -30px 20px;
}

.logo {
	width: 300px;
    margin: 20px;
}

.isi {
    background-color: #FFA347;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    margin-top: calc(50% - 725px);
    background: rgba(236, 149, 17, 0.5);
}

.isi img {
	width: 120px;
    margin: -55px 0 0 115px;
}

h1 {
	text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    margin: 20px 0 0 0;
}

#input1 {
	background: rgba(245, 251, 168, 0.4);
    border: none;
    width: 250px;
    height: 40px;
    margin: 30px 0 0 40px;
    border-radius: 20px;
    padding-left: 10px;
}

#input2 {
	background: rgba(245, 251, 168, 0.4);
    border: none;
    width: 250px;
    height: 40px;
    margin: 15px 0 0 40px;
    border-radius: 20px;
    padding-left: 10px;
}

#input1:focus , #input2:focus , #input3:focus {
	outline: none;
}

::placeholder {
    color: black;
    opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.6; /* Firefox */

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.6; /* Firefox */

}

#input3 {
	background-color: lightyellow;
    width: 254px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: 40px 0 20px 40px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#input3:hover {
	background-color: #4F4842;
	color: lightyellow;
	transition: 0.2s;
}

.sign {
    color: lightyellow;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

.signn {
    margin-left: 25px;
    margin-top: 10px;
}

.signn:hover {
    color: black;
}

