* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url(../../gambar/sekolah.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	width: 1366px;
	margin: 0 auto;
}

.nama {
	width: 550px;
	margin: 0 0 0 195px;
}

.logo {
	width: 170px;
	margin: 70px 0 -25px 190px;	
}

button {
    cursor: pointer;
    border: 2px solid #FFA347;
    background-color: #FFA347;
    font-size: 25px;
    font-family: sans-serif;
    margin: 50px 0 0 220px;
    width: 250px;
    height: 65px;
    border-radius: 40px;
    transition: 0.2s;
}

a {
	cursor: pointer;
	color: black;
	text-decoration: none;
}

button:focus {
	outline: none;
}

button:hover {
	color: #FFA347;
	background-color: #4F4842;
	border: none;
	transition: 0.2s;
}