html {
	background-image: url(../../gambar/sekolah.jpg);
}

.container {
	width: 1349px;
	margin: 0 auto;
}

.logo {
	width: 250px;
    margin: 15px;
}

.isi {
	display: grid;
	grid-template-columns: 300px 400px;
	width: 700px;
	height: 500px;
	margin: 95px 0 0 335px;
}

.isi1 {
	grid-column: 1;
	background-color: #E3C495;
}

.isi1 img {
    width: 200px;
    height: 175px;
    padding: 109px 0 0 45px;
}

.isi1 p {
	text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    padding: 0;
    margin: 20px 0 0 0;
}

#nama {
	color: #7A5D35;
}

.isi2 {
	grid-column: 2;
    margin: 0 0 0 10px;
    background-color: #E3C495;
}

.isi2 label {
	font-family: sans-serif;
    font-size: 16px;
}

.isi2 input {
	font-family: sans-serif;
	font-size: 14px;
}

.isi2 p {
	margin: 10px 0 10px 0;
}

form {
	margin: 40px 0 0 45px;
}

#telep {
	margin-top: 10px;
}

.input1 {
	width: 275px;
	border: none;
    background-color: transparent;
    border: 2px solid #373332;
    border-radius: 20px;
    padding: 7px 0 7px 10px;
}

.input1:focus {
	outline: none;
	border-color: lightyellow;
}

#input2 {
	cursor: pointer;
	margin: 25px 0;
    border: none;
    border: 2px #373332 solid;
    background-color: #373332;
    color: lightyellow;
    width: 285px;
    height: 35px;
    border-radius: 20px;
}

#input2:hover {
	cursor: pointer;
	background-color: #6C5A40;
	border-color: #6C5A40;
}

#input2:focus {
	outline: none;
}