* {
	padding: 0;
	margin: 0;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.clearfix {
 	clear: both;
}

.kotak {
	display: grid;
	width: 600px;
	grid-template-columns: 868px 100px;
	margin: 25px 0 0 0;
}

.kotak1 {
	grid-column: 1;
}

.kotak2 {
	grid-column: 2;
}

.isi {
	width: 100%;
}

.sidebar {
	width: 250px;
	min-height: 100vh;
	background-image: url(../../gambar/sekolah.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    position: fixed;
}

.sidee {
	cursor: pointer;
	margin: 50px 50px 0px 50px;
    font-size: 18px;
    height: 35px;
    text-align: center;
    padding: 15px 0 0 0;
    font-family: sans-serif;
    opacity: 0.8;
    transition: 0.2s;
    border-bottom: 2px white solid;
    color: white;
}

.side {
	cursor: pointer;
	margin: 30px 50px 0px 50px;
    font-size: 18px;
    height: 35px;
    text-align: center;
    padding: 15px 0 0 0;
    font-family: sans-serif;
    opacity: 0.8;
    transition: 0.2s;
    border-bottom: 2px white solid;
    color: white;
}

.aside {
	text-decoration: none;
	color: black;
}

#guruu {
    color: #FFF091;
    border-bottom-color: #FFF091;
}

.sidee:hover, .side:hover, .aside p:hover {
    color: #FFF091;
    border-color: #FFF091;
    transition: 0.1s;
}

.content {
	float: left;
	min-height: 100vh;
	width: calc(100% - 250px);
	background-color: white;
    margin-left: 250px;
}

h2 {
	font-family: sans-serif;
    font-size: 45px;
    margin: 55px 0 0 50px;
}

.tampil {
    cursor: pointer;
    border: none;
    width: 260px;
    height: 50px;
    font-size: 15px;
    background-color: #FFC354;
    margin: 25px 0 0 595px;
}

.tampil:hover {
    background-color: #B49966;
    cursor: pointer;
    transition: 0.2s;
}

.tambahh {
    cursor: pointer;
	border: none;
    margin: 25px 0 15px 9px;
    width: 185px;
    height: 50px;
    background-color: #FFC354;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.tambahh:hover {
	background-color: lightgrey;
}

table {
    margin: 20px 50px;
    border: none;
}

th, td {
	font-family: sans-serif;
	font-size: 15px;
	height: 60px;
	text-align: center;
}

.no {
    width: 50px;
    height: 60px;
}

.kode {
    width: 60px;
}

.nama {
    width: 190px;
}

.jam {
    width: 80px;
}

.alamat {
    width: 170px;
    padding: 0 10px;
}

.telepon {
    width: 128px;
}

.email {
    width: 190px;
}

.aksi {
    width: 110px;
}

table {
    box-shadow: 2px black;
}

th {
    background-color: #DFCCAA;
}

td {
    background-color: #ECE7DE;
}

tr:nth-child(odd):hover td {
    background-color: #AEA38F;
    transition: 0.1s;
}

tr:nth-child(even):hover td {
    background-color: #AEA38F;
    transition: 0.1s;
}

table a {
	color: black;
	text-decoration: none;
}

table a:hover {
    color: white;
    transition: 0.1s;
}

