html {
	background-image: url(../../gambar/sekolah.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1349px;
    margin: 0 auto;
}

img {
	width: 250px;
    margin: 15px 0 0 15px;
}

.isi {
    background-color: #DE934E;
    width: 390px;
    height: 515px;
    margin: 5px 0 0 485px;
    opacity: 0.9;
}

h1 {
	padding: 30px 0 0 0;
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    color: #342E25;
}

form {
	padding: 20px 0 0 60px;
    font-family: sans-serif;
    font-size: 16px;
}

.inputt {
    background-color: transparent;
    border: none;
    width: 250px;
    height: 40px;
    margin: 5px 0 0 0px;
    padding-left: 10px;
    border-bottom: 3px solid lightyellow;

}

.inputt:focus {
	outline: none;
    color: white;
    border-bottom: #715C35 solid 2px;
}

.inputtt {
    background-color: transparent;
    border: none;
    width: 259px;
    height: 40px;
    margin: 8px 0 0 0px;
    padding-left: 10px;
    border-bottom: 3px solid lightyellow;
    color: white;
}

.inputtt:focus {
    outline: none;
    color: white;
    border-bottom: #715C35 solid 2px;
    background-color: #C09E5F;
}

#button {
    cursor: pointer;
    margin: 50px 0 0 0;
    border: none;
    width: 265px;
    height: 40px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #715C35;
    color: white;
    transition: 0.2s;
}

#button:hover {
	cursor: pointer;
	background-color: #4A4341;
	color: white;
	transition: 0.2s;
}

::placeholder {
    color: white;
    opacity: 0.6; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.6; /* Firefox */

}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
    opacity: 0.6; /* Firefox */