body {
    background-image: url(../../gambar/sekolah.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 1349px;
    margin: 0 auto;
}

.isi {
    background-color: lightyellow;
    width: 410px;
    margin: 300px 0 0 490px;
    height: 120px;
}

p {
	padding: 25px 0 0 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    color: #373332;
}

a {
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border: solid 2px #373332;
    background-color: #373332;
    border-radius: 25px;
    color: lightyellow;
    padding: 5px 102px;
    margin: 0px 0 0 65px;
  	transition: 0.2s;

}

a:hover {
    border: solid 2px #EAAB4F;
	color: black;
	background-color: #EAAB4F;
	cursor: pointer;
	transition: 0.2s;
}